ipykernel
jupyter
pandas
matplotlib
seaborn
scikit-learn
beautifulsoup4
selenium
wordcloud
requests
lxml
streamlit
fastapi
uvicorn[standard]
pydantic
joblib
numpy
yt-dlp
webdriver-manager
tqdm
pydantic[email]